source
downloads
builds
.lhelper/
src/lh-cmp
src/lh-path-replace
src/lh-realpath
var/
share/lhelper/*.sh

# C helper build artifacts
src/lh-path-replace
src/lh-cmp
src/lh-realpath

# Lua build artifacts
src/lua/src/*.o
src/lua/src/lua
src/lua/src/luac
src/lua/src/liblua.a

